<div class="panel panel-info">

  <div class="panel-heading">
    <strong>Informes estadísticos</strong>
  </div>

  <form class="form-inline">
    <div class="form-group">
      <!-- Campo de parcela -->
      <input name="parcel" type="text" ng-model="parcel" placeholder="Parcela"
      uib-typeahead="parcel as parcel.name for parcel in findParcel($viewValue)" typeahead-loading="loadingLocations"
      class="form-control" typeahead-editable="false" typeahead-min-lenght="3">
    </div>

    <button class="btn btn-default" ng-click="generateReport()">Generar informe estadístico</button>
    <button class="btn btn-default" ng-click="findReportsByParcelName()">Filtrar</button>
    <button class="btn btn-default" ng-click="reset()">Reiniciar listado</button>
  </form>

  <table class="table table-condensed table-hover table-fixed-top">
    <thead>
      <tr>
        <th>Id</th>
        <th>Parcela</th>
        <th>Fecha</th>
        <th>C. más plantado</th>
        <th>C. menos plantado</th>
        <th>C. que mas tiempo estuvo plantado</th>
        <th>C. que menos tiempo estuvo plantado</th>
        <th>Tiempo sin cultivo (días)</th>
        <th class="text-right"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="report in data">
        <td>{{report.id}}</td>
        <td>{{report.parcel.name}}</td>
        <td>{{report.date | date:'dd/MM/yyyy'}}</td>
        <td>{{report.cropMostPlanted}}</td>
        <td>{{report.leastPlanted}}</td>
        <td>{{report.cropLongest}}</td>
        <td>{{report.cropLess}}</td>
        <td>{{report.timeWithoutCrop}}</td>
        <td class="text-right">
          <div class="btn-group" role="group" aria-label="...">
            <a href="#!/report/view/{{report.id}}" class="btn btn-success" role="button">
              <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
            </a>
            <button type="button" class="btn btn-success" aria-label="Delete" ng-click="delete(report.id)">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
