<div class="panel panel-default">
	<div class="panel-heading">
		<strong>Suelo</strong>
	</div>
	<div class="panel-body">

		<form class="form-horizontal">
		  <div class="form-group">
		    <label for="ground_depth" class="col-md-2 control-label">Profundidad (cm)</label>
		    <div class="col-md-3">
		      <input type="number" class="form-control" id="ground_depth" placeholder="Profundidad" ng-model="data.depth" ng-disabled="action == 'view'"/>
		    </div>
		  </div>

		  <div class="form-group">
		    <label for="ground_stony" class="col-md-2 control-label">Pedregosidad (%)</label>
		    <div class="col-md-3">
		      <input type="number" class="form-control" id="ground_stony" placeholder="Pedregosidad" ng-model="data.stony" ng-disabled="action == 'view'">
		    </div>
		  </div>

			<!-- Esto permite hacer la busqueda (en este caso de tipos de suelo) mediante el ingreso de caracteres -->
			<div class="form-group">
				<label for="grond_type_ground" class="col-md-2 control-label">Tipo de suelo</label>
				<div class="col-md-3">
					<input name="typeGround" type="text" ng-model="data.typeGround" placeholder="Tipo de suelo"
					uib-typeahead="typeGround as typeGround.texture for typeGround in findTypeGround($viewValue)" typeahead-loading="loadingLocations"
					class="form-control" typeahead-editable="false" typeahead-min-lenght="3" ng-disabled="action == 'view'">
					<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
				</div>
			</div>

			<div class="form-group">
				<label for="ground_type_ground_description" class="col-md-2 control-label">Descripción</label>
				<div class="col-md-5">
					<textarea name="ground_type_ground_description" rows="8" cols="80" ng-model="data.typeGround.description" ng-disabled="action == 'view' || action == 'edit' || action == 'new'">Descripción</textarea>
				</div>
			</div>

		  <div class="form-group">
		    <div class="col-md-offset-2 col-md-3">
		      <button type="submit" class="btn btn-primary" ng-click="save()" ng-show="action == 'new'">Create</button>
		      <button type="submit" class="btn btn-primary" ng-click="update()" ng-show="action == 'edit'">Update</button>
		      <button type="submit" class="btn btn-primary" ng-click="cancel()">Cancel</button>
		    </div>
		  </div>
		</form>
	</div>
</div>
